#playlist-table {
    width: 100%;
  }
  
  #playlist-table_wrapper {
    margin-top: 20px;
  }
  
  #playlist-table img {
    width: 50px;
    height: auto;
  }
  .video-length {
    font-size: 0.9em;
    color: #999999;
  }
  
  /* AIzaSyDjieCRye5T3oMUGna3uE9fqZ6XQMemtXU */